/**
 * Colors variables
 */
@use 'sass:map';

$theme-colors: (
  default: (primary: white,
    secondary: #1a1a1a,
    shadow: #fceed1,
    white: #fceed1,
  ),

  contrasted: (primary: #fceed1,
    secondary: #1a1a1a,
    shadow: white,
    white: white,
  ),

  editions: (primary: #414a37,
    secondary: #dbc2a6,
    shadow: #99744a,
    white: #99744a,
  ),
);